/*.sidebar {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 317px;*/
/*  height: 100vh;*/
/*}*/

/*.sidebar.open {*/
/*}*/

/*.background {*/
/*}*/

/*.nav {*/
/*}*/

/*.nav a {*/
/*  color: #00cc22;*/
/*}*/

/*.nav a:hover {*/
/*}*/

/*.nav a.active {*/
/*  color: #B21232;*/
/*}*/
/*.close {*/
/*}*/

/*.close img {*/
/*}*/

.sidebar {
  position: fixed;
  z-index: 20;
  top: 0;

  left: -317px;
  width: 317px;
  height: 100vh;
  transition: 0.2s ease-in;

  background: #fff;
}

.sidebar.open {
  position: fixed;
  left: 0;

  transition: 0.2s ease-out;
  box-shadow: 0 10px 40px rgba(29, 33, 38, 0.13),
  0 1px 2px rgba(29, 33, 38, 0.1);
}

.background {
  position: fixed;
  z-index: 10;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
}

.nav {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  line-height: 27px;

  display: flex;
  flex-direction: column;
  margin-top: 63px;
  padding-left: 70px;
  gap: 45px;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav a:hover {
  color: #0080ff;
}

.nav a.active {
  text-decoration: underline;
  color: #0059b2;
}
.close {
  position: absolute;
  top: 16px;
  right: 24px;
  width: 24px;
  height: 24px;

  cursor: pointer;
  border: none;
  background-color: transparent;
}

.close img {
  width: 24px;
  height: 24px;
}
