.greetingForm {
}

.inputAndButtonContainer {
  display: flex;
}

.error {
}

.input {
  background: transparent;
}

.input:focus {
}

.errorInput {
  background: red;
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
