.button {
  width: 200px;
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  border: 1px solid;
  border-radius: 3px;
}

.disabled {
  cursor: auto;
  color: #002E5C;
  border-color: #004D99;
  background-color: #004D99;
}

.secondary {
  color: #0066CC;
  border: 2px solid #0066CC;
  background-color: transparent;
}

.default {
  color: white;
  border-color: #0066CC;
  background-color: #0066CC;
}

.red {
  color: white;
  border-color: #CC1439;
  background-color: #CC1439;
}

.default:hover {
  border: 1px solid #0080FF;
  background-color: #0080FF;
}

.red:hover {
  border-color: #FF1A47;
  background-color: #FF1A47;
}

.secondary:hover {
  background-color: #E5F0FA;
}

.default:active {
  border-color: #0059B2;
  background-color: #0059B2;
}

.secondary:active {
  background-color: #C9E5FF;
}

.red:active {
  border-color: #B21232;
  background-color: #B21232;
}

.button:disabled {
}
